@import "tailwindcss";
@plugin "daisyui" {
    themes : all;
}
@import "leaflet/dist/leaflet.css";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Hide scrollbar for all elements in Webkit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Hide scrollbar for all elements in Firefox */
* {
  scrollbar-width: none; /* Hides the scrollbar */
}

/* Optional: For Internet Explorer and Edge */
* {
  -ms-overflow-style: none; /* Hides the scrollbar */
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.custom-marker {
  background: transparent !important;
  border: none !important;
}


.markdown-body p {
  margin: 0.25rem 0; /* small spacing between paragraphs */
}

.markdown-body ul,
.markdown-body ol {
  margin: 0.25rem 0 0.25rem 1rem; /* tighten list spacing */
}

.markdown-body li {
  margin: 0.125rem 0;
}

.markdown-body pre {
  margin: 0; /* no extra margin for code blocks */
  white-space: pre-wrap;
  word-break: break-word;
}
